*{
    margin: 0;
    padding: 0;
}
html{
    background: url("../img/view.jpg") #b0b0b0;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
body{
    min-height: 600px;
    padding: 200px 0 0 ;
    overflow: hidden;
    font: 14px/1.3 'tahoma',Arial,sans-serif;
}
#note{
    color: black;
    font-size: 12px;
    margin: 0 auto;
    padding: 4px;
    text-align: center;
    /*text-shadow: 1px 1px 0;*/
    rgba(255,255,255,0.3);
    width: 400px;
}